/* Variables or Custom Properties */
:root {
    --main-color: #333;
}  
body {
    font-family: Arial, sans-serif;
}
.container { /*main container can have header, main &footer . Use div class="container"*/
    display: flex;
}  
header {
    height: 80px;
}  
.nav {
    padding: 20px;
} 
main {
    width: 80%;
}  
footer {
    background-color: #f0f0f0;
}  
.button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}  
.form { /*for filling usernames and passwords*/
    margin-bottom: 20px;
} 
.text-center {
    text-align: center;
}
  
  /* Media Queries */
@media screen and (max-width: 768px) {
    body {
      background-color: lightblue; 
      /*color changes to blue when you minimize the screen, check on viewport.html */
    }
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
.fadeInElement { /* fade animation. use div class="fadeInElement" */
    animation: fadeIn 2s ease-in-out; 
  }
  

  